

.menu{
    background-color: #f5f5f5;
}
.menu h2{
    color:  #7f7bff;
}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
    padding: 10px 20px;
}
.menu ul li a{}
span{
    font-size: 30px;
}
 

/* banar */

.banar{
    background: url(https://i.ibb.co/JmptfJW/178934873-455404502228845-6544367562530705105-n.jpg) no-repeat center;
    padding: 280px  250px;
    background-size: cover;
}
.banar h1{
    text-align: center;
    color: #fff;
}

/* About */

.about{}
img{
    max-width: 100%;
    
}
.div{
    font-size: 20px;
}

.big{
    font-size: 20px;
}

/* contact */


/* .foter */
.foter{
    background-color: #0062d3;
    text-align: center;
    color: #fff;
}
 .foter p{
     margin-left: ;
 }
.p{
    margin: -1px;
}






